<div id="test" style="margin: 150px auto; width: 50vw; padding: 30px; background-color: #A7CCFC;">
  <div class="mb-3">
      <h1 style="text-align: center;"><span class="fa fa-lock"></span>REDES SOCIALES</h1>
      <a href="/auth/facebook" class="btn btn-primary" style="margin-left: 110px;"><span class="fa fa-facebook"></span>Login con facebook</a>
  </div>
</div>