<div id="test" style="margin: 150px auto; width: 50vw; padding: 30px; background-color: #A7CCFC;">
<h1 style="text-align: center;">INICIAR SESION:</h1>  
<form id="formulario" method="POST" action="/login" style="width:50%; margin:0 auto; height: 200px;">
<div class="mb-3">
    <label for="user" class="form-label" style="font-weight: bold;">Usuario:</label>
    <input type="text" class="form-control" name="user" id="user">
  </div>
  <button type="submit" class="btn btn-primary">INICIAR SESION</button>
</form>
</div>