<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login por formulario</title>
  <meta name="description" content="Listado de productos">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="background-color: #EBEEF2;">
    <div>
      <div>
        <h1 style="text-align: center; margin-top: 50px;">Bienvenid@, {{{user}}}</h1>
      </div>
        <div style="margin: 50px; text-align: center">
            <a href="/productos"><button type="button" class="btn btn-success">Listado de Productos</button></a>  
            <a style="margin-left: 50px;" href="/productos"><button type="button" class="btn btn-secondary">Actualizar Productos</button></a>
            <a style="margin-left: 50px;" href="/mensajes"><button type="button" class="btn btn-danger">Listado de Mensajes</button></a>
            <a style="margin-left: 50px;" href="/logout"><button type="button" class="btn btn-primary">Cerrar sesion</button></a>
        </div>
        <div>
            {{{ body }}}
        </div>
    </div>
</body>
</html>
