nav
  div(style="margin: 50px; text-align: center")
    a(href='/productos' style="margin-right: 50px;")
      button(type="button" class="btn btn-primary") Listado de Productos 
    a(href='/' style="margin-left: 50px;")
      button(type="button" class="btn btn-success") Crear Producto